## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print('the diameter of {} is {} kilometers'.format(planet,diameter))

the diameter of Earth is 12742 kilometers

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

** What is the main difference between a tuple and a list? **

In [ ]:
# tuple are immutable but list are mutable
#tuple denoted in () list denoted in []

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
  print("your domain is:"+ email.split('@')[-1])
email = input(" please enter your email:>")

 please enter your email:>user@domain.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
  if 'dog' in st.lower():
    print("true")
  else:
    print("false") 
st = "is there a dog" 
findDog(st)

true

In [ ]:
findDog("is there a dog here")

true

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
n = 'hey dog hi dog'
def countdogs(n):
  count = 0
  for word in n.lower().split():
    if word == 'dog' or word == 'dogs':
      count = count+1
      print(count)
countdogs(n)

1
2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

'Big Ticket'

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [1]:
a = list(map(int,input("\nEnter the numbers : ").strip().split()))
sum=0
print(" 1st person",a[0])
print(" 1st person",a[1])
print(" 1st person",a[2])
print(" 1st person",a[3])
print(" 1st person",a[4])
for x in a:
  sum += x
print('total')

Enter the numbers : 1 2 3 4 5
 1st person 1
 1st person 2
 1st person 3
 1st person 4
 1st person 5
total 15

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [2]:
d1={'Empid':1 , 'Empname ' : "abc" , 'basicpay' : 10000}
d2={'deptname' : 'cse' , 'deptid' : 2}

print({**d1,**d2})

{'Empid': 1, 'Empname ': 'abc', 'basicpay': 10000, 'deptname': 'cse', 'deptid': 2}